{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="col-sm-10 offset-sm-1 text-center">
    <h1>Forgot your password?</h1>
    <p>Enter the email you signed up with, and you'll receive an email with reset instructions.</p>

    <form class="form-horizontal form" name="ResetPasswordForm" method="POST">
      {% csrf_token %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input class="form-control" type="email" required_id="id_email" name="email"  placeholder="Email">
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success m-4">Reset my password</button>

    </form>
  </div>
{% endblock %}
