{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

  <div class="col-sm-10 offset-sm-1 text-center">


    <h1>Set a new password</h1>
    <form class="form-horizontal form" name="ResetPasswordForm" method="POST">
      {% csrf_token %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}

      <div class="control-group">
        <label class="control-label" for="id_new_password1">New password</label>
        <div class="controls">
            <input class="form-control" type="password" name="new_password1" id="id_new_password1" placeholder="Password">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_new_password2">Confirm your new password</label>
        <div class="controls">
            <input class="form-control" type="password" name="new_password2" id="id_new_password2" placeholder="Confirm">
        </div>
      </div>

      <button type="submit" class="btn btn-outline-success m-4">Reset my password!</button>
    </form>
  </div>
{% endblock %}
