{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="col-sm-10 offset-sm-1 text-center">
  <div class="jumbotron jumbotron-fluid m-4">
    <div class="container">
      <h1 class="display-4">This is Cheetah</h1>
      <p class="lead">A lightweight and fast music search and filtering engine built on top of Spotify's developer API.</p>
      <hr class="my-4">
      <p>Get started by creating an account first, and linking your Cheetah account with an existing Spotify account. Then you can migrate your playlists and start building new ones.</p>
      <p class="lead">
        {% if user.is_authenticated %}
        <a class="btn btn-success btn-lg" href="{% url "social:begin" 'spotify' %}" role="button">You're logged in! Get started here.</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Get started</a>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}
