{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

  <div class="col-sm-10 offset-sm-1 text-center">

    <h2>Welcome to Cheetah!</h2>
    <form class="form-horizontal form" name="SignUpForm" method="POST">
      {% csrf_token %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}
      <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input class="form-control" type="text" id="id_username" name="username"  placeholder="Username">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input class="form-control" type="email" name="email" id="id_email" placeholder="Email">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_password1">Password</label>
        <div class="controls">
            <input class="form-control" type="password" name="password1" id="id_password1" placeholder="Password">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_password2">Confirm Password</label>
        <div class="controls">
            <input class="form-control" type="password" name="password2" id="id_password2" placeholder="Confirm">
        </div>
      </div>

      <!-- {{ form.as_p }} -->
      <button type="submit" class="btn btn-outline-success m-4">Let's get started!</button>
    </form>
  </div>
{% endblock %}
